node_modules/
**/node_modules/
.env
.vscode/
session/
**/session/
downloads/
**/downloads/
yt-dlp.exe
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.mp3
**/*.mp4
storage.json
database.db
auth_info_baileys/
**/auth_info_baileys/
package-lock.json
pnpm-lock.yaml
.npm/
